.menu {
	padding: 0px;
	background: #383636;
}
.mymenu {
	height: 100ch;
	background: #383636;
	position: fixed;
	width: 25%;
}
.menu p {
	margin-top: 20px;
}
.mymenu h3 {
	color: #fff;
}
.mymenu ul {
	padding: 0px;
	margin: 0px;
}
.mymenu ul li {
	list-style: none;
	height: 50px;
	transition: 0.2s;
}
.mymenu ul li:hover {
	background: #0066F1;
	color: #fff;
}
.mymenu ul li.active {
	background: #0066F1;
	color: #fff;
}
.mymenu ul li a:hover {
	padding-left: 30px;
}
.mymenu ul li a{
	color: #fff;
	display: block;
	padding-left: 10px;
	text-decoration: none;
	line-height: 50px;
	transition: 0.2s;
}
.button-black {
	background: transparent;
	line-height: 50px;
	width: 15%;
	text-align: center;
	color: #fff;
	transition: 0.2s;
}
.button-black:hover {
	background: #0548F3;
	color: #fff;
	text-decoration: none;
}
.content-admin {
	padding-top: 20px;
	padding-bottom: 20px;
}
.kotak {
	padding: 20px;
}
/*setting fixed navbar*/

body {
	margin-top: 52px;
}
.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
	margin: 0px; 
	background-color: #383636; 
	border:0px; 
	border-bottom: 2px solid #337AB7; 
	border-radius:0px; color: #fff; 
	box-shadow: 2px 6px 5px -4px rgba(88, 88, 88, 0.5); 
	/*position: fixed; */
}
}